* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  list-style: none;
}

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

.logo {
  height: 150px;
  width: auto;
  float: center;
  border-radius: 100px;
  margin-top: 60px;
  margin-bottom: 120px;
} 
@media screen and (max-width: 700px) {
  .logo {
    height: 150px;
    width: auto;
    float: center;
    border-radius: 100px;
    margin-top: 60px;
    margin-bottom: 100px;
  }
}


ion-icon {
margin-top: 20px;
color: white;
font-size: 30px;
}

section {
  display: block;
}

.text1 {
  padding-top: 2rem;
  align-items: center;
  margin-left: 0px;
  font-size: 300%;
  font-weight: 600;
}
.text2 {
  color: #d81b60;
}

h2 {
  padding-top: 120px;
  font-size: 300%;
  font-weight: 500;
}

h3 {
  font-size: 200%;
  font-weight: 400;
  padding: 0 0 0 0;
}

.icons {
  position: absolute;
  margin-top: 30px;
  letter-spacing: 0.5px;
}

/* The side navigation menu */
.sidebar {
  text-align: center;
  padding: 4rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    text-align: center;
  }
}

.sidebar-about h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 400;
}


div.content {
  margin-left: 300px;
  padding: 2px 80px;
  height: 1000px;
}
@media screen and (max-width: 700px) {
  div.content {
    margin-left: 300px;
    padding: 2px 20px;
    height: 1000px;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: center;}
  div.content {margin-left: 0;}
}

/* Sidebar links */
.sidebar a {
  text-align: center;
  color: #fff;
}
/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}


.sidebar-nav {
  padding-bottom: 20px;
  padding-left: 0;
  list-style: none;
}

.sidebar-nav li  {
  list-style: none;
  align-self: center;
  margin-top: 0px;
  padding: 0px 0px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;

}
.sidebar-nav a {
  color: white;
  text-decoration: none;
}


.sidebar-nav-item {
  display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}


@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}

.section2 p {
  margin-top: 30px;
  padding-left: 0.5px;
  font-size: 1.80em;
  font-weight: 500;
  line-height: 1.25;
  max-width: 25em;
  letter-spacing: .04em;
}

.section3 p {
  margin-top: 30px;
  font-size: 1.40em;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -.03em;
  max-width: 25em;
}