* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

.logo {
  height: 120px;
  width: auto;
  float: center;
  border-radius: 100px;
  margin-top: 40px;
  margin-bottom: 100px;
} 

ion-icon {
margin-top: 20px;
color: white;
font-size: 26px;
}

section {
  display: block;
}

.text1 {
  padding-top: 2rem;
  align-items: center;
  margin-left: 0px;
  font-size: 300%;
  font-weight: 400;
}
.text2 {
  color: #d81b60;
}

h2 {
  margin-top: 120px;
  font-size: 300%;
  font-weight: 400;
}


.icons {
  position: absolute;
  margin-top: 30px;
  letter-spacing: 0.5px;
}

/* The side navigation menu */
.sidebar {
  text-align: center;
  padding: 4rem 1rem;
  color: rgba(255,255,255,.5);
  background-color: #202020;
}
@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    text-align: center;
  }
}
/* Sidebar links */
.sidebar a {
  text-align: center;
  color: #fff;
}
/* Active/current link */
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 10%;
  font-size: 2.5rem;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 300px;
  padding: 2px 40px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: center;}
  div.content {margin-left: 0;}
}


/* Sidebar nav */
.sidebar-nav {
  padding-bottom: 20px;
  padding-left: 0;
  list-style: none;
}

.sidebar-nav li  {
  list-style: none;
  align-self: center;
  margin-top: 0px;
  padding: 0px 0px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95rem;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;

}
.sidebar-nav a {
  color: white;
  text-decoration: none;
}


.sidebar-nav-item {
  display: block;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
  .sidebar-sticky {
    position: absolute;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}
