* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--bg-color);
    display: block;
    grid-template-columns: minmax(150px, 20%) 1fr;
    padding: 0;
    margin: 0;
    font-family: 'Manrope', sans-serif;
  }
.sidebar {
    height: 100vh;
    background: #012840;
    font-size: 2rem;
    text-align: center;
    list-style: none;
  }
.sidebar h1 {
      font-size: 20px;
      color: white;
    }

.sidebar-nav li  {
    list-style: none;
    align-self: center;
    margin-top: 20px;
    padding: 10px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;

  }

.sidebar-nav a {
    color: white;
    text-decoration: none;
}


.col-sm-4 .sidebar .logo {
    height: 120px;
    width: auto;
    float: center;
    border-radius: 100px;
    margin-top: 120px;
} 

ion-icon {
  margin-top: 20px;
  color: white;
  font-size: 26px;
}
  
.content {
    padding: 2rem;
  }
  
body {
    font-family: 'Manrope', sans-serif;
    font-weight: 300;
  }
